@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2398946_besgv50edqh.eot?t=1614781884022'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2398946_besgv50edqh.eot?t=1614781884022#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABmAAAAJfAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgQMBNgIkAwgLBgAEIAWEbQcwG6kFyJ6aPAm0RT+xEVgu5DAAEEG1Rvbs7iMqRPVB1IAK0UUYYPUxEqg8ChMJQEbc/a+1Uwl1Xj+Pm+5wzV9mVnx2sNfplIqnRKVBaOAGl4eZBNugg8jm//kFXu8T907/BPogo955l8sYw8bYOKkLMJpAAe6FUWTFmIp4zS7yOYFGA0bKm7cOLkothb0uEGd9V5VahaiiiIV6obbhaBE31ahPN9JzLES/j//mo0VSk9lbtx3ftKXlL/ySz1fn7Q0IMQJO1yBjTkkhdjVmt6gKkatqzNaMKB2rMfilqgKvOKpLiH+dXd8M+qB+Jo2nfVTZBAqaIdblHFv25ubmcuT7rl7/9cu9fDGxMq+A4QJbzLETetp/J3/9Wu18JzC+CMpMCQVKn+tSevgw+YbLghIqTgHDJaQWTq90/l39bo4IBm9lw7ieGw59OPb0UbSiulfk86jfqzf8Hc3AnmLobE8qmqaxmPSpnrWpUSMqXLDT71R7z60UQ72eG/LX6c+Q1RsjCzuHGk0Wo1a9dWg0a/t0ky6sKkoDZjwSQrtPJK2eIWv3RRb2BzV6/aFWe1TRaE/oyiYT4XeSUQla0A/gmzQh1yeduPEM3ZtIcV4X8VfIhZ+A+WRWLmxjgrzEjuLWXYgQEKcxbNFrGEUpZJwGaGTiiWTOdEpNH5qYNC51bMKQIpAFtAfAZ6QSFAwWncr3zyDXjYjCHV11+SuIFfzZwdzEbAC5bU4GdT3KO4VbrgUhCCAsFQNbtAhFIimQNS8KIENMeBPSGcfU6UdDzZPtrfHfnYJGtiOFMy+rPYeKjVcqAQAA') format('woff2'),
  url('//at.alicdn.com/t/font_2398946_besgv50edqh.woff?t=1614781884022') format('woff'),
  url('//at.alicdn.com/t/font_2398946_besgv50edqh.ttf?t=1614781884022') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_2398946_besgv50edqh.svg?t=1614781884022#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e600";
}
